pythonenv = /home/midhun/Desktop/titto/TProject/Python/Tprojectenv/Tproject/bin/activate
home_directory = /home/midhun/Desktop/titto/TProject/Python/tproject-python/tproject
pg_database = postgres
pg_user = postgres
pg_password = postgres

db_name = tproject
db_user = tproject
db_password = tproject
psql_ip = localhost
schema_file_path = /home/midhun/Desktop/titto/TProject/Python/tproject-python/tproject/schema

monogo_db_name = tproject
monogo_db_user = tproject
monogo_db_password = tproject