dnspython==2.7.0
greenlet==3.1.1
numpy==2.2.3
pandas==2.2.3
pkg_resources==0.0.0
psycopg2==2.9.10
pymongo==4.11.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2025.1
six==1.17.0
SQLAlchemy==2.0.38
typing_extensions==4.12.2
tzdata==2025.1
